{% extends "squelette.twig"%}

{% block content %}

    <form action="{{ url_for('createArticlePost') }}" method="post">

        <label for="titre">Titre : </label>
        <input type="text" id="titre" name="titre" required>

        <label for="resume" id="resume">Résumé : </label>
        <textarea id="resume" name="resume" rows="5" cols="33" required>{{ article.resume }}</textarea>

        <label for="contenu" id="contenu">Contenu : </label>
        <textarea id="contenu" name="contenu" rows="5" cols="33" required>{{ article.contenu }}</textarea>

        <label for="image">Image : </label>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg">

        <label for="cat-select">Choississez une catégorie : </label>
        <select name="cat_id" id="cat-select">
            <option value="">Choisir une catégorie</option>
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.titre }}</option>
            {% endfor %}
        </select>

        <div>
            <span></span>
        <input type="submit" value="Envoyer">
        </div>

    </form>

{% endblock %}
