<header>
    <div class="nom">
        <h1>MiniPress</h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('loginVerify', {target: 'categories'}) }}">Categories</a></li>
            <li><a href="{{ url_for('loginVerify', {target: 'articles'}) }}">Articles</a></li>
            <li><a href="{{ url_for('loginVerify', {target: 'createCategorie'}) }}">Créer une catégorie</a></li>
            <li><a href="{{ url_for('loginVerify', {target: 'createArticle'}) }}">Créer un article</a></li>
            <li><a href="{{ url_for('register') }}">Inscription</a></li>
            <li><a href="{{ url_for('login') }}">Connexion</a></li>
        </ul>
    </div>
</header>