<header>
    <div class="nom">
        <h1>MiniPress</h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('categories') }}">Categories</a></li>
            <li><a href="{{ url_for('articles') }}">Articles</a></li>
            <li><a href="{{ url_for('createCategorie') }}">Créer une catégorie</a></li>
            <li><a href="{{ url_for('createArticle') }}">Créer un article</a></li>
            <li><a href="{{ url_for('register') }}">Inscription</a></li>
            <li><a href="{{ url_for('login') }}">Connexion</a></li>
        </ul>
    </div>
</header>