<header class="flex-row">
    <div id="header-title" class="flex-row">
        <h1>MiniPress</h1>
        <img src="/img/newspaper.svg" alt="Logo MiniPress">
    </div>
    <nav id="header-nav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('loginVerify', {target: 'categories'}) }}">Categories</a>
        <a href="{{ url_for('loginVerify', {target: 'articles'}) }}">Articles</a>
        <a href="{{ url_for('loginVerify', {target: 'createCategorie'}) }}">Créer une catégorie</a>
        <a href="{{ url_for('loginVerify', {target: 'createArticle'}) }}">Créer un article</a>
        <a href="{{ url_for('register') }}">Inscription</a>
        <a href="{{ url_for('login') }}">Connexion</a>
    </nav>
</header>