{% extends "squelette.twig" %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h1>Articles</h1>
    <ul>
        {% if articles|length > 0 %}
            {% set sortedArticles = articles|sort((a, b) => a.date_creation|date("Ymd") <=> b.date_creation|date("Ymd")) %}
            {% for art in sortedArticles %}
                <li>
                    <h2>    {{art.titre}}</h2><p>paru le : {{art.date_creation}}</p>
{#                    <p>    Résumé  :   {{art.resume }} </p>#}
{#                    <p>    Contenu :   {{art.contenu}}</p>#}
                    {{ art.resume|raw }}
                    {{ art.contenu|raw }}
                    <p>    Auteur  :   {{art.auteur}}</p>
                </li>

            {% endfor %}
        {% else %}
            <li>Aucun article trouvé.</li>
        {% endif %}
    </ul>
{% endblock %}
